#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

.responcive {
    max-width: 600px;
    margin: 0 auto;
}

.card-scroll {
  max-height: 544px;      
  overflow-y: auto;       
  padding-right: 10px;    
}
